# Default ignored files
/../../mini curso python./.idea/shelf/
/../../mini curso python./.idea/workspace.xml
# Datasource local storage ignored files
/../../mini curso python./.idea/dataSources/
/../../mini curso python./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../mini curso python./.idea/httpRequests/
